body{
	background-image: url("index.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:-8px;
	margin-top:-16px;
	padding-bottom:800px;
}

footer{
	opacity: 0.75;
	background-color:#302E2E;
	color:white;
	text-align:center;
	padding:6px;
	margin:8px;
	padding-bottom:5px;
}

input{
	margin-top:3px;
	margin-bottom:3px;
	border:2px solid grey;
}
h3{
	color:red;
}

#connexion-accueil{
	background-color:white;
	padding:12px;
	border:solid 4px grey;
	margin-top:300px;
	margin-bottom:550px;
	margin-right:550px;
	margin-left:550px;
	opacity:0.89;
	text-align:center;

}


.btnco {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btnco:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.btnco:active {
	position:relative;
	top:1px;
}
