
body { 	margin:0 auto 0 auto; padding:0;
		 text-align:justify;background-color:#3F3430;
		font-family: 'Dosis', sans-serif;
		font-size:15px;  color:#41352f; 

		background-position:top center;
		background-repeat:no-repeat;
		}	
		
body { 	margin:0 auto 0 auto; padding:0;
		 text-align:justify;background-color:#3F3430;
		font-family: 'Dosis', sans-serif;
		font-size:15px;  color:#41352f; 

		background-position:top center;
		background-repeat:no-repeat;
		}
		
#menu {
	text-align:center;
}	

/* Menu Bar */
div#menu { width:990px; height:auto; margin:0 auto 0 auto; padding:0; }
div#menu a.lien_cour { float:left; height:auto; margin:0 auto 0 auto; padding:0 0 2px 0; 
			font-size:16px; font-weight:300; text-decoration:none; display:block; 
			}
div#menu a.lien_norm { float:left; height:auto; margin:0 auto 0 auto; padding:0 0 2px 0; 
			font-size:16px; font-weight:300; text-decoration:none; display:block; 
			border-top:0.1px solid; border-bottom:0.1px solid; border-left:1px solid;
			}
			
			/* couleur et taille menu */
div#menu a.index_cour { background-color:#231f20; color:#cc9933; }
div#menu a.index_norm { background-color:#cc9933; color:#231f20; }
div#menu a.index_norm:hover { background-color:#231f20; color:#cc9933; }

div#menu a.first { width:198px; border-left:0px }
div#menu a.other{ width:197px; border-left:1px solid #231f20; }




.banniere {
	color:white;
	height: 14%; 
	width: 100%; 
	background-repeat: repeat
	margin-left:1px;
	padding:1em;
	text-align: center;
}

.titre {
	color:white;
	text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}

p {
	
	font-family: gadugi
	color:#FFFFFF;
}
	

footer {
	color:white;
	background-color:gray;
	}
footer {
	clear:left; 
	}


.image {
	text-align: center;
}

	

p {
  text-align: justify;
}



/* Bouton pour remonter en haut de la page */
#scroll_to_top { 
  position: fixed; 
  width: 25px; 
  height: 25px; 
  bottom: 50px; 
  right: 30px; 
} 
#scroll_to_top img { 
  width: 25px; 
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


